# {{{project.name}}}

{{#project.repository}}
[![dependencies](https://img.shields.io/david/{{project.repository.owner}}/{{project.repository.name}}.svg?style=flat-square)](https://www.npmjs.com/package/{{project.name}})
{{/project.repository}}


<!-- custom -->{{{custom.content}}}<!-- custom -->
