# {{{project.name}}}

{{#project.repository}}
<p align="center">
[![dependencies](https://img.shields.io/david/{{{project.repository.owner}}/{{project.repository.name}}}.svg?style=for-the-badge)](https://www.npmjs.com/package/{{{project.name}}})
</p>
{{/project.repository}}


<!-- introduce -->{{{addition.introduce}}}<!-- introduce -->

<!-- more -->{{{addition.more}}}<!-- more -->
