{
  "compilerOptions": {
    "noEmit": true,
    "module": "esnext",
    "target": "es2017",
    "moduleResolution": "node",
    "strict": true,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "noImplicitAny": false,
    "allowJs": true,
    "checkJs": false,
    "baseUrl": "./",
    "paths": {
      "framework/*": ["framework/*"]
    }
  },
  "include": ["./client/**/*.ts", "./server/**/*.ts"],
  "paths": {
    "framework/*": ["./framework/*"],
  }
}
