{
  "compilerOptions": {
    "module": "es6",
    "target": "es6",
    "strict": true,
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "noImplicitAny": false,
    "baseUrl": "./",
    "paths": {
      "@framework/*": ["framework/*"],
      "@client/*": ["client/*"],
      "@server/*": ["server/*"]
    }
  },
  "exclude": ["node_modules"],
  "include": ["./client/**/*.ts", "./server/**/*.ts"]
}
